.footer {
  width: 100%;
  background-color: #032541;
  padding: 40px 5vw;  /* adaptive padding */
  display: flex;
  justify-content: center;
  box-sizing: border-box;  /* FIX overflow */
  overflow-x: hidden;
}

.footer-content {
  display: flex;
  gap: 60px;
  color: white;
  flex-wrap: wrap; /* Prevent overflow */
  max-width: 1200px; 
  width: 100%;
}


.footer-content h3 {
  margin-bottom: 12px;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer-logo {
  margin-right: 40px;
}

.footer-logo h2 {
  color: #01b4e4;
  background-color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 1.2rem;
  width: fit-content;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-content li {
  margin: 6px 0;
}

.footer-content a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-content a:hover {
  text-decoration: underline;
}
