.hero {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
  padding: 30px 40px;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  background-image:
    linear-gradient(
      90deg,
      rgba(3, 37, 65, 0.8) 0%,
      rgba(3, 37, 65, 0.6) 28%,
      rgba(3, 37, 65, 0.4) 50%,
      rgba(3, 37, 65, 0.2) 75%,
      rgba(3, 37, 65, 0) 100%
    ),
    var(--bg-image);
}

/* Dark gradient overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: 1;
}

.hero-content {
  z-index: 2;
  width: 100%;
  text-align: left; /* Align text */
  justify-content: center;
  position: relative;
  padding-left: 300px;

}

.hero-content h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.hero-content h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}


/*Search Styel*/

.search-wrapper {
  z-index: 2;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-c {
  width: 80%;
  max-width: 100%;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  background: #fff;
  justify-content: center;
}


.search-c input {
  flex: 1;
  padding: 16px 20px;
  font-size: 16px;

  border: none;
  outline: none;
}

.search-c button {
  padding: 0 30px;
  background: #01b4e4;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  font-weight: 600;
}
r
.search-c button:hover {
  background: #00a0ca;
}

@media (max-width: 1000px) {
  .hero {
    height: auto;
    padding: 40px 20px;
  }

  .hero-content {
    padding-left: 0; 
    text-align: center;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .search-c {
    flex-direction: column;
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .search-c input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-c button {
    width: 100%;
    padding: 12px 0;
  }
}
